.list{
  list-style-type: none;
}

img {
  float: left;
  overflow: auto;
}

.music-detail-container  {
  margin-left: 50px;
  background-color: #efefe7;
  padding: 25px;
  width: 50%;
}

.music-detail  {
  display: flex;
}

.music-container {
  display: flex;
}
.music-selector{
  width: 50%;
}
.music-selector li{
  cursor: pointer;
}
.title {
  color:#457B9D;
  font-weight:bold;
}
